<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-align-center">
 

<ion-row>
  <ion-col>
    <h1 >Nome:</h1>
    <p>Mario Mario</p>

    <h1>Profissão:</h1>
    <p>Encanador</p>

    <h1 >Nacionalidade:</h1>
    <p> Italiano (embora sua nacionalidade não seja mencionada nos jogos, a origem italiana de Mario foi estabelecida por meio de outras mídias, como filmes e desenhos animados)</p>
   
    <h1>Aparencia:</h1>
    <p>Mario é geralmente retratado como um homem baixo e de estatura média, com cabelo e bigode pretos, vestindo um macacão azul, uma camiseta vermelha e um boné vermelho com um "M" na frente</p>
   
    <h1 >Personalidade:</h1>
    <p> Ele é retratado como um herói corajoso, determinado e otimista, sempre disposto a enfrentar desafios para salvar a Princesa Peach e o Reino do Cogumelo dos vilões.</p>
    
    <h1>Historia:</h1>
    <p>Mario fez sua primeira aparição no jogo "Donkey Kong" em 1981 e se tornou o protagonista de uma série de jogos populares, como "Super Mario Bros.", "Super Mario 64", "Super Mario Galaxy" e muitos outros.</p>

  </ion-col>
</ion-row>


</ion-content>
