<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>


      <ion-col size="6">
        <img id="balao"
          src="https://images.pexels.com/photos/6438543/pexels-photo-6438543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="balaozin">
      </ion-col>

      <ion-col size="6">

        <h1>Criar conta</h1>

        <ion-list>
          <ion-item>
        <div id="caixas">
       <ion-input type="text" placeholder="Nome"></ion-input>
            </div>
            </ion-item>
          
          <ion-item>
          <div id="caixas">
              <ion-input  type="text" placeholder="E-mail"></ion-input>
            </div>
            </ion-item>
          <ion-item>
            <div id="caixas">
              <ion-input  type="text" placeholder="Senha"></ion-input>
            </div>
          </ion-item>
          
          <ion-item>
          <div id="caixas">
            <ion-input type="text" placeholder="Confirmar Senha"></ion-input>
          </div>
        </ion-item>
        
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>








</ion-content>